@import '../abstract/media-queries';

.header {
  box-sizing: border-box;
  width: calc(100% - 3rem);
  margin: 4rem auto;
  color: var(--neutral-grayish-blue);
  line-height: 1.5;
  text-align: center;
  max-width: $sm;
  
  &__title {
    font-weight: 200;
    font-size: 1.5em;
    color: var(--neutral-very-dark-blue);
    &--bold{
      font-weight: 600;
      display: block;
    }
  }
  
  &__text {
    font-weight: 400;
    font-size: 1rem;
  }

  @include media-query($md-screen){
    font-size: 25px;
    margin: 0 auto;
    padding: 0 2rem;

    &__title {
      margin: 0;
    }
  }
}